@supports (display: grid) { 
* {
	box-sizing: border-box; }

	body {
	/*background-color: #b6b6b6;*/
	background: linear-gradient(180deg, #fff 50%, #E5E5E5 50%);
	font-family: 'Roboto', ;
	}

	@media only screen and (min-width: 1440px) {
		p {
			font-size: 1.5rem;
		}
	}


	h1 {font-size: 3.5rem;}
	h2 {font-size: 3rem;}
	h3 {font-size: 2.5rem;}
	h4 {font-size: 2rem;}
	h5 {font-size: 2rem;}

	.email { text-decoration: underline; }
	.primary {
		background-color: #01CBC5; color: #fff; }
	.clr-purp { color: #7746F8; font-weight: 600;}
	.clr-lite { color: #6A5EFF; }
	.strong { font-weight: 600; }
	.easy { background-color: rgba(0, 0, 0, .6); }

	.background-img {
		background-image: url("../img/Edited-desksplash-neon2.jpg");
		height: 500px;
		width: 70%;
		margin: 0 auto;
		margin-top: 30px;
		border-radius: 10px;
		box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.45);
		background-position: center;
		background-size: cover;
	}
	@media only screen and (min-width: 1400px) {
		.background-img {
			height: 800px;
		}
	}

	/* Nav List Items
	--------------------------------------------------*/
	nav {
		background-color: rgba(0, 0, 0, .0);
		margin: 0 10px 10px 10px; 
		text-align: start;
		padding-top: 20px; }

		nav ul {
			text-align: center; }
		nav li {
			list-style: none;
			text-align: center; }
		li button.button {
			display: block;
			margin: 0 auto; }
		nav a {
			color: #fff;
			text-decoration: none; }
		.btn {
			display: block;
			height: 38px;
			text-align: center;
			font-size: 11px;
			font-weight: 600;
			line-height: 38px;
			letter-spacing: .1rem;
			text-transform: uppercase;
			text-decoration: none;
			white-space: nowrap;
			background-color: transparent;
			border-radius: 4px;
			border: 1px solid #bbb;
			cursor: pointer; }
		.btn:active, .btn:hover, .btn:target {
			color: #FF7E61; }

		@media (min-width: 750px) {
			.btn {
				font-size: 1.25rem;
				letter-spacing: .2rem;
				height: 50px;
			}
		}

		@media only screen and (min-width: 1400px) {
			nav {
				height: 50px;
				padding: 20px 0; }
			nav ul {
				height: 100%;
				margin: auto;
				text-align: start; }
			nav li {
				display: inline-block;
				vertical-align: text-top; }
			.btn {
				display: inline;
				padding: 0 40px 20px;
				border: none;
			}
		}

		



	/* Header 
	--------------------------------------------------*/
	header {
		color: #fff;
		text-align: center;
		margin-top: 30px; }
		header div.focus { margin-bottom: 30px; }
		header h5 {
			display: inline-block;
			padding: 20px 50px;
			margin-bottom: 10px;
			background-color: rgba(0, 0, 0, 0.5);
			border: solid 1px white;
			 }
		header p {
			margin: 0 20px 50px;
			background-color: rgba(0, 0, 0, .5); }
		header li {
			list-style: none;
			display: inline-block;
			margin: 20px;
			text-align: center;
			font-style: italic; }
		header a {
			color: #fff;
			text-decoration: underline;}
		header a:hover, header a:active {
			color: #FF7E61; }

		@media only screen and (min-width: 1400px) {
			header {
				margin-top: 100px; }
			/*header h5 {
				margin-bottom: 50px; }*/
			header p {
				padding: 20px 50px;
				margin: 50px 20%;
				border: solid 1px white; }
		}
		
		


	/* Work Project-Cards
	--------------------------------------------------*/
	#work {
		border: solid 1px #7746F8;
		background-color: #fff;
	    border-radius: 10px;
	    width: 70%;
	    margin: 0 auto;
	    margin-top: 50px;
	    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.45);
	}

	#work h2 {
		display: inline-block;
		padding-left: 50px;
		margin: 60px;
		color: #bdbdbd; }

		a.card {
			display: block;
			color: #000;
			background-color: #fff;
			text-decoration: none;
			text-align: center;
			border: solid 1px #6c15da;
			border-radius: 5px;
			padding: 15px 5px 0 5px;
			box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
			background-color: #f1f1f1; }

		h3 { font-weight: bold; }

		a.card:hover {
			background-color: #6145ff;
			color: white;
			border-color: #CDCCE8;

			/*border-width: 3px;*/
			/*background-color: #fff;*/ }
		
		a.card img {
			display: block;
		    margin: 15px auto;
			width: 250px;
			border: solid 1px lightgrey;
			border-bottom: solid 3px lightgrey;
			border-radius: 10px; }
		/*.card .container {
			padding: 0 30px; }*/
		.card h3 {
			margin-bottom: 0.5rem; }

		@media only screen and (min-width: 800px) {
			#work .container {
				display: flex;
			    flex-direction: row;
			   /* justify-content: center;*/
			    max-width: none;
			    flex-flow: wrap;
			    width: 90%;
			    margin: 0 auto;
			    margin-bottom: 60px; }

			#work a.card {
				width: 300px;
				margin: 10px; }
		}
		@media (min-width: 1000px) {
				#work a.card {
				width: 350px;
				margin: 10px; }

				a.card:hover {
					color: #fff;
				}
		}
		

	/* Contact
	--------------------------------------------------*/
	#contact {
		background-color: black;
		border-radius: 10px;
		margin: 20px auto;
		width: 70%;
	}

	#contact h3 {
		color: #fff;
		display: inline-block;
		padding-left: 20px;
		margin: 30px; }

	#contact h4 { color: #fff; }

	#contact p { color: #fff; }

		.contact-bg {
			color: #fff;
			padding: 10px;
			background-image: url("../img/keyboard-bw.jpg");
			height: 400px;
			background-position: center;
			background-size: cover; }

		#contact a {
			color: #6A5EFF;
		}
		@media only screen and (min-width: 1440px) {
			/*#contact .background-img {
				height: 400px;
			}*/
			#contact .container {
				background-color: black;
				border-radius: 10px;
				margin: 20px auto;
				width: 70%;

			}

		}